* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
}

body {
	transition: 3s;
	width: 100%;
	min-height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	width: 200px;
	height: 200px;
	cursor: pointer;
	background-color: #ff2332;
	transition: transform 3s, border-radius 1.5s, box-shadow 1.5s;
}

.box:hover {
	transition: transform 3s, border-radius 1.5s, box-shadow 1.5s;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	transform: rotate(-1080deg) translate(20px, -20px) scale(1.2);
	box-shadow: 200px 200px 10px #00ff11,
				-200px 200px 10px #ff9988,
				200px -200px 10px yellow,
				-200px -200px 10px red;
}